<h2>Home Page</h2>
<hr>
{{#each products}}
    <div class="container">
        <div class="row">
            <div class="col mx-1">
                <div class="card" style="width: 75vw;">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <img src="{{thumbnails.[0]}}" alt={{title}}>
                        <p class="card-text">{{description}}</p>
                        <p class="card-text"><strong>$ {{price}}</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/each}}
<br><br>
<a href="./realtimeproducts">Productos</a>
<a href="./chat">Chat</a>